* {
	margin: 0;
	padding: 0;
}

.app {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: #141414;
	color: #fff7ee;
	font-family: "TitilliumWeb-Regular";
	display: flex;
	align-items: center;
	flex-direction: column;
}

.app video {
	width: 40%;
	height: auto;
}

.app h1 {
	text-align: center;
	font-size: 1.5rem;
}

.app h1 a {
	color: #d4ef21;
}

@font-face {
	font-family: "TitilliumWeb-Regular";
	src: url(./assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
}

@media screen and (max-width: 768px) {
	.app video {
		width: 90%;
		height: auto;
	}
	.app h1 {
		text-align: center;
		font-size: 0.8rem;
	}
}
